
.item-list{
  padding: 2rem;
}
.row.cart-item{
  background-color: #e5e9ea;
  padding: 1rem 0;
  border-radius: .2rem;
  align-items: center;
  justify-content: space-between;
}
.cart-prod-img{
  order: 0;
}
.prod-name{
  text-align: center;
  order: 1;
}
.cart-delete{
  order: 2;
  font-size: 1.5rem;
}
.talle{
  order:3;
  padding: 0;
}
.cant{
  order: 4;
  padding: 0;
}
.prod-price{
  order: 6;
  text-align: right;
}

/* ASIDE */

.buying-options{
  padding: 2rem 1rem;
  background-color: rgba(255, 31, , 0.1);
}

@media (min-width: 768px) {
  .prod-name{
    text-align: left;
  }
  .cart-delete{
    order: 7;
    align-self: flex-start;

  }

  .prod-price{
    order: 6;
    align-self: flex-end;
  }
}
