body{
    background-color: #e3e4db;
}

.wrapper{
    box-sizing: border-box;
    margin: 20vh 0;
}
.violeta{
    background-color: #aea4bf;
}

nav{
    position: fixed;
}

.responsive-img{
    border-radius: 5px;
}

.bg-black{
    background-color: hsl(0, 0%, 13%);
}

.login{
    margin-top: 100px;
}
.product-title{
    margin: 0;
}
.product-desc{
    margin: 0;
}
nav .brand-logo{
    color: #c8ad55;
}
.brand-logo{
    color: #c8ad55;
}
.row-login{
    margin-bottom: 0;
    padding-bottom: 5%;
}

/* SMARTPHONES */
@media only screen and (max-device-width:767px) {

  .contactContainer{
    font-size: 150%;
    padding: 15% 0;
  }

}

/* TABLETS */
@media only screen and (min-device-width:768px) {

  .contactContainer{
    padding: 20% 0;
  }

}

/* DESKTOPS */
@media only screen and (min-device-width:1024px) {

  .brand-logo{
    margin-left: 2.5%;
  }

  .contactContainer{
    padding: 4% 0;
  }

  .contactSideLogo{
    width:100%;  
  }
}
